<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<!--CASA-->
		<add name="XispiritoDB" connectionString="Data Source=DESKTOP-NQ43CFS\SQLEXPRESS;Initial Catalog=XispiritoDB;Integrated Security=True"/>
		
		<!--Vinibola
		<add name="XispiritoDB" connectionString="Data Source=DESKTOP-OKNJIRM\SQLEXPRESS;Initial Catalog=XispiritoDB;Integrated Security=True"/>
		-->

		<!--TRABALHO
		<add name="XispiritoDB" connectionString="Data Source=AM21\SQLEXPRESS;Initial Catalog=XispiritoDB;Integrated Security=True" />
		-->

		<!--Vinibola 2
		<add name="XispiritoDB" connectionString="Data Source=DESKTOP-8BHVBF8;Initial Catalog=XispiritoDB;Integrated Security=True"/>
		-->
	</connectionStrings>

	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

		<!--TRABALHO
		<add key="XispiritoPath" value="C:\Users\MATHEUS\Desktop\TCC\2022-1-webinar-4\Xispirito\"/>
		<add key="ImageMagickPath" value="C:\Program Files\ImageMagick-7.1.0-Q16-HDRI\magick.exe"/>
		-->

		<!--CASA-->
		<add key="XispiritoPath" value="D:\VisualStudio\TCCAthon\2022-1-webinar-4\Xispirito\"/>
		<add key="ImageMagickPath" value="D:\Program Files\ImageMagick-7.1.0-Q16-HDRI\magick.exe"/>


		<!--VINIBOLA
		<add key="XispiritoPath" value="C:\Users\vinic\Desktop\Projetos\FACUL\TCC\2022-1-webinar-4\Xispirito\"/>
		<add key="ImageMagickPath" value="C:\Program Files\ImageMagick-7.1.0-Q16-HDRI\magick.exe"/>
		-->

	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />

		<httpRuntime targetFramework="4.7.2" />

		<authentication mode="Forms">
			<forms
				loginUrl="~/View/Login/Login.aspx"
				defaultUrl="~/View/Home/Home.aspx"
			/>
		</authentication>

		<authorization>
			<allow users="*"/>
		</authorization>
	</system.web>

	<location path="View/Profiles">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>