@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

html {
    font-size: 62.5%;
}

html,
body {
    height: 100vh;
    font-family: "Source Sans Pro";
    color: azure;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    color: azure;
    font-size: 1.6rem;
}

section.events-header {
    display: block;
    height: 100%;
    background: #70160E;
    text-align: center;
}

.events-h1 {
    font-size: 4rem;
    padding-top: 3rem;
}

.events-h3 {
    display: block;
    padding: 3rem 17rem;
    color: azure;
}

h3 {
    font-size: 2rem;
    color: azure;
}

section.find-events {
    width: 100%;
    padding: 5rem 10rem;
    margin: auto auto;
}

.event-form-body {
    box-shadow: 0 1rem 2rem rgba(0,0,0,.15) !important;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    border-radius: .5rem;
    border: .1rem solid black;
}

.event-input-text {
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    height: 3rem;
}

/*div do formulario*/

/*primeira linha*/
.event-div-first-line {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
    height: auto;
}

/*search text input div*/
.event-div-first-line-search {
    width: 60%;
}

.event-input-first-line-search-input {
    border: .1rem solid gray;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    height: 4rem;
}

.event-input-first-line-search-button {
    border: .1rem solid gray;
    border-radius: .5rem;
    background: #70160E;
    padding: 1rem;
    margin: 1rem;
    height: 4rem;
}
/*fim da primeira linha*/

/*segunda linha*/
.event-div-second-line {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    height: auto;
}

/*search text input div*/
.event-div-second-line-search {
    width: 60%;
}

.event-input-second-line-search-input {
    border: .1rem solid gray;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    height: 4rem;
}

/*search button div*/
.event-div-second-line-button {
    width: 20%
}

.event-input-second-line-search-button {
    border: .1rem solid gray;
    border-radius: .5rem;
    background: #b5bbeb;
    padding: 1rem;
    margin: 1rem;
    width: 100%;
    height: 4rem;
}

/*Listagem de eventos*/
.events-list, .more-events {
    margin-top: 3rem;
}

.events-list-title {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: black;
}

.events-list-title-h3 {
    color: black;
}

/*cards*/
cards {
    width: 90%;
    max-width: 980px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.text--medium {
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 400;
    color: #ecf0f1;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 30rem;
    background-color: #70160E;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 0.5rem;
}

    .card:hover {
        transform: translateY(-7px);
    }

.card-image {
    width: 100%;
    height: 35%;
    padding-top: 50%;
    overflow: hidden;
    position: relative;
    border-radius: 0.5rem 0.5rem 0 0;
}

    .card-image .image {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.card-title {
    height: 45%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 20px 0 20px;
}

    .title {
        height: 40%;
        margin-bottom: 20px;
    }

.content {
    height: 20%;
    margin: 20px;
}

.info {
    display: flex;
    align-self: end;
    align-items: center;
}

.type {
    padding: 5px 20px;
    border-radius: 20px;
    background-color: #4BD18E;
    filter: brightness(90%);
}

.time {
    margin-left: auto;
}

.area-carousel .card {
    height: 24rem;
}

.area-carousel .card-title {
    text-align: center;
    margin: 10px;
}

.area-carousel .text--medium {
    font-size: 1.9rem;
    line-height: 2.6rem;
}

.more-events {
    display: flex;
    justify-content: center;
}

.button-all-events {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #161917;
    font-size: 1.8rem;
    line-height: 2.6rem;
}

    .button-all-events:hover {
        cursor: pointer;
        transform: translateY(-2px);
    }

#alttext-container.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
